:root {
  --main-font: sans-serif;
  --font-size: 16px;
  --main-color: #f7df1e;
}

html {
  box-sizing: border-box;
  font-family: var(--main-font);
  font-size: var(--font-size);
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;

}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

h1{
  text-align: center;
}

/* ----------Elemento--------- */

.element-card, h2, h3, .number-mass, p{
  margin: 0;
}

.element-card{
  width: 8.5vw;
  height: 17vh; 
  border: 0.1rem solid #000000;
  border-radius: 4px;
  padding: .5rem;
  animation: oscillateShadow 1.5s infinite;
  color: #fff;
}

.div2{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.div2 h2{
  font-size: 3rem;
}

.number-mass{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 .3rem;
}



/* font-size:clamp(1rem, 1rem + 1vw, 1.5rem) ; */

/* -----Elementos de la tabla------------ */

.tabla-periodica {
  display: grid;
  grid-template-columns: repeat(18, minmax(36px, 3.1vw));
  grid-auto-rows: minmax(36px, 6.1vh);
  gap: 4px;
  width: auto;
  max-width: calc(100% - 2rem);
  padding: 0.5rem;
}

.element {
  border: .5px solid #000000;
  padding: 4px;
  font-family: sans-serif;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  color: #fff;
}

.element:hover {
  transform: scale(2.5);
  animation: oscillateShadow 1s infinite;
  z-index: 10;
  transition: all 0.3s ease-in-out;
}


.sim {
  font-size: clamp(1rem, 1rem + 1vw, 1.5rem);
  font-weight: bold;
}

.name {
  font-size: clamp(.15rem, .15rem + .4vw, .4rem);
  font-weight: bold;
}

/* Animaciones */
@keyframes oscillateShadow {
  0% {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
  }

  50% {
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
  }

  100% {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
  }
}